body {
	margin: 0;
}

.flex-parent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page {
	height: 100vh;
	justify-content: space-between;
	background-color: white;
}

.column {
	flex-direction: column;
}

.column--1 {
	width: calc(26% - 8px);
}

.column--2 {
	width: calc(28% - 8px);
}

.column--3 {
	width: calc(15% - 8px);
}

.column--4 {
	width: calc(30% - 8px);
}

.column-block {
	background-color: lightslategray;
	width: 100%;
}

.column-block--15 {
	height: calc(15% - 8px);
}

.column-block--25 {
  height: calc(25% - 8px);
}

.column-block--60 {
  height: calc(60% - 8px);
}

.column-block--35 {
  height: calc(35% - 6px);
}

.column-block--65 {
	height: calc(65% - 6px);
}

.column-block--85 {
	height: calc(85% - 8px);
}

.column-block--half {
	width: calc(50% - 6px);
}

.block-container {
	width: 100%;
}

.block-container--top {
	height: calc(65% - 6px);
}

.block-container--bottom {
	height: calc(35% - 6px);
}

.block-container__item {
	width: 100%;
	height: 100%;
}

.block-container__item--40 {
	width: calc(40% - 6px);
}

.block-container__item--60 {
  width: calc(60% - 6px);
}

img {inline-size: inherit;}